.App {
	height: 100vh;
}

.card {
	max-width: 35rem;
	position: flex;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todoItem {
	display: flex;
	align-content: center;
	justify-content: space-between;
	background-color: rgb(245, 240, 240);
	border-radius: 10px;
}

.todoItem input {
	margin-left: 10px;
}

.todoItem p {
	margin-top: 10px;
}

.todoItemCompleted {
	display: flex;
	align-content: center;
	justify-content: space-between;
	background-color: rgb(248, 248, 248);
	color: rgb(176, 171, 171);
	border-radius: 10px;
}

.todoItemCompleted input {
	margin-left: 10px;
}

.todoItemCompleted p {
	margin-top: 10px;
}
